<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70374323978-6n9a1umj468d5muu2o945oe8vitp7d66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70374323978-6n9a1umj468d5muu2o945oe8vitp7d66</string>
	<key>API_KEY</key>
	<string>AIzaSyATyQW0nFRQThY3McFa2V4DpL7XecozUKs</string>
	<key>GCM_SENDER_ID</key>
	<string>70374323978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexskill.flashShop</string>
	<key>PROJECT_ID</key>
	<string>flutterb7ecom</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterb7ecom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70374323978:ios:73a17e5ab29cb50c12ecf3</string>
</dict>
</plist>